* {margin:0px;}
    html {font-family:"Courier New",sans-serif;font-size:12px;text-shadow: rgba(0,20,40,1) 0 0 3px;color:#cff;overflow:hidden;height: 100%;}
    h1{font-family:"Century Gothic","Lucida Grande",Arial,sans-serif;font-size:2em}
    body {min-height: 100%;}
    #wrapper {background-color: rgba(0,20,40,0.4);padding:16px}
    #c {margin:14px;white-space: nowrap;}
	.bottom{position:fixed;bottom:0;left:0;width:100%;text-align:center;}
    #bottom_menu{width:100%;display:table;table-layout:fixed;background:rgba(0,20,40,0.8);min-width:800px;transition:background 400ms;padding:4px 0;font-size:24px;}
    #bottom_menu:hover{background:rgba(0,20,40,0.8);}
    #bottom_menu li{display:table-cell;transition:background 400ms;padding:11px 0;}
    #bottom_menu li:hover{background:rgba(0,20,40,0.75);transition:background 400ms;}
    #bottom_menu a{display:inline-table;width:100%;color:rgba(215,255,255,0.7);text-decoration:none;}
    #bottom_menu li:hover a{color:#DFF;}
    .char{position:absolute;bottom:0;right:0;height:100%;}
h3{margin-left:12px;}
.last{max-width:50%;background-color: rgba(0,20,40,0.4);}
li a{color:#dff;}
ul>li{list-style-type: none;margin:4px;padding:2px;}
