html, body {
	font-size:14px;
	background-color:black;
	color: #CCC;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
li#sitestyles:hover {
    background:rgba(0,0,0,0);
}
a {
	color: #ccc;
	text-decoration: none;
}
a:hover {
	color: #ccc;
	text-decoration: none;
}
h2,h1 {
	margin-bottom: 0px;
	border: 1px solid #333;
	-moz-border-radius: 5px 5px 5px 5px;
	font-size: .9em;
	padding-left: 5px;
	font-size: 16px;
}

h2 {
	background:rgba(20,20,20,0.3);
	border-bottom: 1px solid #333;
	font-size: 0.9em;
	color:#fff;
}

.plus {
    float: right;
    font-size: 8px;
    font-weight: normal;
    padding: 1px 4px 2px 4px;
    margin: 0px 0px;
    background: #000;
    background-repeat: repeat-x;
    color: #fff;
    border: 1px solid #333;
    cursor: hand;
    cursor: pointer;
}


ul {
    list-style: none;
    padding-left: 3px;
    margin: 0px;
	margin-left: 3px;
	border-left: solid 1px #333;
}

li {
    margin: 0px;
    background:rgba(50,50,50,0.2);
}

li:hover {
    background:rgba(0,0,0,1);
}

li a {
	display: block;
	width: 100%;
}

/*li a {
    display: inline;
    width: 100%;
}*/