html, body {
	background: url(images/photon/bg_bottom.png) bottom  repeat-x;
	background-color: #BBBBBB;
	color: #333333;
	font-size:10pt !important;
	font-family: "Trebuchet MS",Trebuchet,serif;
	margin: 0px;
	padding: 0px;
}
a {
	color: #FF6600;
}
a:visited {
	color: #FF6600;
}
a:hover {
	color: #0066FF;
}
.adminbar {
	clear:both;
	float:right;
	font-size: .8em;
}
.adminbar a {
	font-weight: bold;
}
.logo {
	clear:both;
	text-align:left;
	font-size:2em;
	font-weight: bold;
	color:#FF6600;
}
.replymode, .passvalid {
	background:#DDDDDD;
	text-align:center;
	padding:2px;
	color:#2266AA;
	clear: both;
	font-weight: bold;
	margin-bottom: .5em;
	border: solid 1px #CCCCCC;
	-moz-border-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}
.catalogmode {
	background: #0040E0;
	text-align: center;
	padding: 2px;
	color: #DDDDDD;
	clear: both;
	font-weight: bold;
	margin-bottom: .5em;
	border: solid 1px #CCCCCC;
	-moz-border-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}
.postarea {
}

.postblock {
	background:transparent;
	color:#002244;
	font-weight:bold;
}
.footer {
	text-align:center;
	font-size:12px;
	font-family:serif;
	margin: 2em 0 0 0;
}
.dellist {
	font-weight: bold;
	text-align:center;
}
.delbuttons {
	text-align:center;
	padding-bottom:4px;
}
.managehead {
	background:#DDDDDD;
	color:#002244;
	padding:0px;
}
.postlists {
	background:#FFFFFF;
	width:100%;
	padding:0px;
	color:#800000;
}
.row1 {
	background:#DDDDDD;
	color:#002244;
}
.row2 {
	background:#CCCCCC;
	color:#002244;
}
.unkfunc {
	background:inherit;
	color:#789922;
}
.unkfunc2 {
	background:inherit;
	color:#18a952;
}
.reflink {
	font-size: .8em;
	font-weight: bold;
}
.filesize {
	text-decoration:none;
	color: #666666;
	font-size: .8em;
}
.filetitle {
	background:inherit;
	font-size:1.2em;
	color:#002244;
	font-weight:bold;
}
.postername, .postnumber_green  {
	color:#004A99;
	font-weight:bold;
}
.postertrip {
	color:#FF3300;
}
.oldpost {
	color:#CC1105;
	font-weight:bold;
}
.omittedposts {
	color:#666666;
}
.reply {
	padding-right: 3px;
	background:#DDDDDD;
	border: solid 1px #CCCCCC;
	padding: 0;
	padding-right: 2px;
	-moz-border-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}
blockquote {
	margin: .5em .5em .5em 1em;
}
blockquote p {
	margin: 0;
	padding: 0;
}
.reply blockquote {
	margin: .5em;
}
.doubledash {
	display: none;
 	vertical-align:top;
	clear:both;
	float:left;
}
.replytitle {
	font-size: 1.2em;
	color:#002244;
	font-weight:bold;
}
.commentpostername {
	color:#004A99;
	font-weight:800;
}
.thumbnailmsg {
	font-size: .8em;
	color:#666666;
}
hr {
	border-style: solid none none none;
	border-width: 1px;
	border-color: #BBBBBB;
}
table {
	border-style: none;
}
table td {
	border-style: none;
}
.nothumb {
	background-color: #FFFFFF;
	border-style: dotted;
	margin: .3em .5em;
}

.abbrev {
	color:#666666;
}
.highlight {
	background:#EEDACB;
	color:#333333;
	border: 2px dashed #EE6600;
}

#watchedthreads {
	background-color: #DDDDDD !important;
  	border: 1px solid #CCCCCC !important;
  	-moz-border-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

.spritebtn {
	background-color: #aba8a6;
	border-color: #aba8a6;;
}
.spritebtn:hover {
	background-color:#AA7755;
	border-color: #AA7755;;
}

.topbar-left {
  background: url('images/photon/topbar-left.png');
}

.topbar-center {
  background: url('images/photon/topbar-center.png');
}

.topbar-right {
  background: url('images/photon/topbar-right.png');
}

.border-left {
  background: url('images/photon/border-left.png');
}

.border-right {
  background: url('images/photon/border-right.png');
}

.bottom-left {
  background: url('images/photon/bottom-left.png');
}

.bottom-right {
  background: url('images/photon/bottom-right.png');
}

.bottom-center {
  background: url('images/photon/bottom-center.png');
}

.content-background {
  background-color: #EEEEEE;
}

.maintable {
  width: 98%;
  table-layout: fixed;
}
.omittedposts a, .xlink {
	color:#666666;
	text-decoration: inherit;
	border-bottom: 1px dashed rgb(133, 133, 133);
}

.reflinkpreview {
	background-color: #DDDDDD !important;
}