html, body {
	background-color: #2B2B2B;
	color: #C7C7C7;
	font-family: "Roboto", "Open Sans", "Trebuchet MS",Trebuchet,sans-serif;
	font-size: 15px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
}
a {
	color: rgb(33, 169, 175);
}
a:visited {
	color: rgb(33, 169, 175);
}
 a:hover {
	color: rgb(36, 218, 226);
} 
.adminbar {
	clear:both;
	float:right;
	font-size: .8em;
}
.adminbar a {
	font-weight: bold;
}
.logo {
	clear:both;
	text-align:left;
	font-size:2em;
	font-weight: bold;
	color: rgb(33, 169, 175);
}
.replymode, .passvalid, .catalogmode {
	background: rgba(255, 255, 255, 0.13);
	text-align: center;
	padding: 2px;
	color: #FFFFFF;
	clear: both;
	font-weight: bold;
	margin-bottom: .5em;
	border-radius: 5px;
}

.postarea {
}

.postblock {
	background:transparent;
	color: #949494;
	font-weight:bold;
}
.footer {
	text-align:center;
	font-size:12px;
	font-family:serif;
	margin: 2em 0 0 0;
}
.dellist {
	font-weight: bold;
	text-align:center;
}
.delbuttons {
	text-align:center;
	padding-bottom:4px;
}
.managehead {
	background:#DDDDDD;
	color:#002244;
	padding:0px;
}
.postlists {
	background:#FFFFFF;
	width:100%;
	padding:0px;
	color:#800000;
}
.row1 {
	background:#DDDDDD;
	color:#002244;
}
.row2 {
	background:#CCCCCC;
	color:#002244;
}
.unkfunc {
	background:inherit;
	color:#789922;
}
.unkfunc2 {
	background:inherit;
	color:#18a952;
}
.reflink {
	font-size: .8em;
	font-weight: bold;
	padding-right: 6px;
}
.reflink a, .reflink a:visited {
	color: rgb(180, 180, 180);
}
.reflink a:hover {
	color: rgb(230, 230, 230);
}
.filesize {
	text-decoration:none;
	color: #838383;
	font-size: .8em;
}
.filetitle {
	background:inherit;
	font-size:1.2em;
	color:#8DA1B4;
	font-weight:bold;
}
.postername, .postnumber_green  {
	color: #789EB8;
	font-weight:bold;
}
.postertrip {
	color:#FF3300;
}
.oldpost {
	color:#CC1105;
	font-weight:bold;
}
.omittedposts, .omittedposts a, .xlink {
	color: rgb(143, 143, 143) !important;
}
.reply, .highlight {
	background: #4b4b4b;
background: -webkit-linear-gradient(#4b4b4b 0px, #353535 88px);
background: -o-linear-gradient(#4b4b4b 0px, #353535 88px);
background: linear-gradient(#4b4b4b 0px, #353535 88px);
	box-shadow: 0 2px 2px rgb(29, 29, 29);: 2px;
	border-radius: 3px;
	/* border-bottom: 1px solid rgba(65, 65, 65, 1); */
	border-top: 1px solid rgba(92, 92, 92, 1);
	/* margin-top: -4px; */
	padding-right: 3px; 
	padding: 0 3px 1px 1px;
}
blockquote {
	margin: .5em .5em .5em 1em;
}
blockquote p {
	margin: 0;
	padding: 0;
}
.reply blockquote {
	margin: .5em;
}
.doubledash {
	display: none;
 	vertical-align:top;
	clear:both;
	float:left;
}
.replytitle {
	font-size: 1.2em;
	color:#002244;
	font-weight:bold;
}
.commentpostername {
	color:#004A99;
	font-weight:800;
}
.thumbnailmsg {
	font-size: .8em;
	color:#666666;
}
hr {
	border-style: solid none none none;
	border-width: 1px;
	border-color: #3A3A3A;
	box-shadow: 0 -1px 0 black;
}
table {
	border-style: none;
}
table td {
	border-style: none;
}
.nothumb {
	background-color: transparent;
	border-style: dotted;
	margin: .3em .5em;
}

.abbrev {
	color:#666666;
}
.highlight {
	border: 1px dashed #EE6600;
}

#watchedthreads {
	background-color: #DDDDDD !important;
  	border: 1px solid #CCCCCC !important;
  	border-radius: 5px;
}

.spritebtn {
	/* background-color: #aba8a6; */
	border-color: #aba8a6;
	opacity: 0.7;
}
.spritebtn:hover {
	background-color: rgba(255, 255, 255, 0.25);
	opacity: 1;
}

.topbar-left {
	height: 0px;
}

.topbar-right {
	height: 0px;
}

.topbar-center {
	height: 6px;
	background: rgba(0, 0, 0, 0.06);
}

.content-background {
	background-color: #2B2B2B;
}

.maintable {
	width: 100%;
	table-layout: fixed;
}
.overlay-menu {
	-webkit-transition-property: background-color, color, box-shadow;
	-webkit-transition-duration: 0.4s;
	-o-transition-property: background-color, color, box-shadow;
	-o-transition-duration: 0.4s;
	-moz-transition-property: background-color, color, box-shadow;
	-moz-transition-duration: 0.4s;
	transition-property: background-color, color, box-shadow;
	transition-duration: 0.4s;
	box-shadow: none;
	border: none;
}

.overlay-menu:hover {
	box-shadow: 0 0 20px rgba(0, 0, 0, 1);
	background: rgb(27, 27, 27);
}

.replies table {
	border-spacing: 2px 4px;
}

.menu-item {
padding: 2px 5px;
border-radius: 3px;
}

.maintable hr {
	margin-left: -9px;
margin-right: -9px;
}

.reflinkpreview {
	border: none;
	border-radius: none;
	-moz-box-shadow: 0 0 20px #ccc;
	box-shadow: 0 0 20px #000;
}

input[type="text"], input[type="password"], textarea {
	border: 1px solid rgb(83, 83, 83);
	background: rgb(70, 70, 70);
	-webkit-transition-property: background-color, border-color, box-shadow;
	-webkit-transition-duration: 0.4s;
	transition-property: background-color, border-color, box-shadow;
	-o-transition-duration: 0.4s;
	-o-transition-property: background-color, border-color, box-shadow;
	-moz-transition-duration: 0.4s;
	-moz-transition-property: background-color, border-color, box-shadow;
	transition-duration: 0.4s;
	color: rgb(167, 167, 167);
}

input[type="text"]:hover, input[type="password"]:hover, textarea:hover {
	background: rgb(55, 55, 55);
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	border: 1px solid rgba(60, 204, 211, 0.64);
	background: rgb(22, 22, 22);
	outline: none;
	box-shadow: 0 0 2px rgb(60, 204, 211);
	color: rgb(216, 216, 216);
}

.reflinkpreview .reply {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.prettyprint {
	overflow: auto;
	max-height: 500px;
	text-shadow: none;
	color: black;
	background: rgba(255, 255, 255, 0.72);
}

.prettyprint-container {
	display: inline-block; 
    margin-left: 2px;
    margin-bottom: 4px;
    margin-top: 4px;
}

.omittedposts a, .xlink {
	text-decoration: inherit;
	border-bottom: 1px dashed rgb(143, 143, 143);
}
.postnode label {
	font-size: .9em;
	color: rgb(155, 155, 155);
}
.uibutton {
	background: rgb(65, 65, 65);
	border: 1px solid rgb(83, 83, 83);
	border-radius: 4px 4px 0 0;
	border-bottom: 0;
}
.uibutton:hover {
background: rgb(83, 83, 83);
border: 1px solid rgb(83, 83, 83);
color: rgb(36, 218, 226);
}
#postclone, #postclone .captchaimage {
	background-color: rgb(27, 27, 27);
}
.postmessage span[style*="color:blue"] {
	color: rgb(173, 212, 255)!important;
}
.markupbtns {
	margin-bottom: -2px;
}

#imagefile {
	border: 0px;
}
