html, body {
	background: #0E0E0E url(data:image/gif;base64,R0lGODlhGAAMAKEEAOXl5ebm5vDw8PHx8SH+EUNyZWF0ZWQgd2l0aCBHSU1QACwAAAAAGAAMAAACRpQiY6cLa146MyY1EJQKjG81lNGRUPOIkgMJHtquBgIO7xwvpbrpduUSuXq8ntEC0bBEylYitdDAdM1ViaobkgKgZwyDLAAAOw==) repeat 0 0!important;
	color: #000;
font-family: arial,helvetica,sans-serif;
font-size: 10pt;
}

a:link, a:visited {
	-webkit-transition: all ease-in 0.3s;
	-moz-transition: all ease-in 0.3s;
	color: rgba(0, 0, 0, 0.6);
	text-decoration:none !important;
}

a:link:hover {
	-moz-transition: all ease-in 0.5s;
	text-shadow: 0px 0px 2px #CF6464;
}

.menu {
	margin-top: 1em;
	text-align: center;
}

.content {
	margin-left: 2.5em;
	text-align: justify;
	padding-left: 4px;
	background-color: #DDDDDD;
	border: 1px solid #888;
}

.newssub {
	position: absolute;
}

.permalink {
	text-align: right;
	display: block;
}

#topmenu li {
	display: block;
	float: left;
	border: 1px solid #888;
	padding-top: 3px;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	border-left: none;
	margin-top: -7px;
	background-color: #CCCCCC;
}

#topmenu li.first {
	border-left: 1px solid #888;
	padding-bottom: 3px;
}

#topmenu li.current {
	margin-top: -8px;
	padding-top: 5px;
	border-bottom: none;
	background-color: #DDDDDD;
}

h1 {
	background:#CDCDCD;
	border: solid 1px #888;
	margin-top: 1em;
	padding-left: .5em;
	margin-right: .3em;
	cursor: pointer;
	margin-bottom: 0em;
	padding-bottom: 0em;
}

h2 {
	background:#CDCDCD;
	border: solid 1px #888;
	margin-top: 1em;
	padding-left: .5em;
	margin-right: .3em;
	cursor: pointer;
	font-size: 1.1em;
	margin-bottom: 0em;
	padding-bottom: 0em;
}

h3 {
	font-size: 1.1em;
	text-align: right;
}
