body {
	font-family: sans-serif;
	font-size: 75%;
	background: fixed url(images/photon/bg_bottom.png) bottom  repeat-x;
	background-color: #BBBBBB;
	color: #000000;
	margin: 0;
	width: 90%;
}

a {
	color: #666666;
}

h2 {
	margin: 0px;
	padding: 2px;
	font-size: 100%;
	background-image: url(images/photon/topbar-center.png);
        background-repeat: repeat-x;
	color: #333333;
}

h2 a {
	text-decoration: none;
	color:#333333;
}

h1, h3, .menu {
	font-family: Verdana,Tahoma,sans-serif;
}

h1 {
	margin: 0;
	/*color: #800;*/
	text-align: center;
	margin-top: 1em;
}

h3 {
	margin: 0;
	/*color: #800;*/
	text-align: center;
	font-weight: normal;
	font-size: medium;
}

.menu {
	margin-top: 1em;
	text-align: center;
}

.content {
	margin-left: 3em;
	padding: 0px;
	background-color: #EEEEEE;
	border: solid 1px #666666;
}

.newssub {
	padding: 2px;
	position: absolute;
	background-color: #EEEEEE;
	background-image: url(images/photon/topbar-center.png);
        background-repeat: repeat-x;
}

.permalink {
	padding: 2px;
	text-align: right;
	display: block;
}

.permalink a {
	color: #333333;
	text-decoration: underline;
}

.sitelogo {
	background: url(/images/0chan-autumn.png);
	width: 420px;
	height: 150px;
	margin-top: 8px;
}body {
	margin: 8px;
}

a {
	text-decoration: none;
	color: #555;
}

h1, h2 {
	background: #CCCCCC;
	text-align: left;
	background-image: url(images/photon/topbar-center.png);
	background-repeat: repeat-x;
}

h1 {
	margin-top: 0px;
	font-size: 150%;
	color: #000;
}

h2 {
	font-size: 100%;
	margin-top: 1em;
}

.plus {
	float: right;
	font-size: 8px;
	font-weight: normal;
	padding: 1px 4px 2px 4px;
	margin: 0px 0px;
	background: #888888;
	background-image: url(images/photon/topbar-center.png);
	background-repeat: repeat-x;
	color: #000;
	border: 1px solid #CCCCCC;
	cursor: hand;
	cursor: pointer;
}

.plus:hover {
	background: #da8;
	border: 1px solid #c97;
}

ul {
	list-style: none; 
	padding-left: 0px;
	margin: 0px;
}

li {
	margin: 0px;
	padding-left: 3px;
	background: #EEEEEE;
}

li:hover {
	background: #F6F6F6;
}

/*li a {
	display: inline;
	width: 100%;
}
*/
