html, body {
	background-color: #eee;
	color: #333333;
	font-family: "Roboto", "Open Sans", "Trebuchet MS",Trebuchet,sans-serif;
	font-size: 15px;
}
.content-background {
	background-color: #eee;
}

a {
	color: rgb(97, 138, 182);
}
a:visited {
	color: rgb(97, 138, 182);
}
 a:hover {
	color: rgb(23, 53, 85);
} 
.adminbar {
	clear:both;
	float:right;
	font-size: .8em;
}
.adminbar a {
	font-weight: bold;
}
.logo {
	clear:both;
	text-align:left;
	font-size:2em;
	font-weight: bold;
	color: rgb(97, 138, 182);
}
.replymode, .passvalid, .catalogmode {
	background: rgb(228, 228, 228);
	text-align: center;
	padding: 2px;
	clear: both;
	font-weight: bold;
	margin-bottom: .5em;
}

.postarea {
}

.postblock {
	background:transparent;
	color:#5F5F5F;
	font-weight:bold;
}
.footer {
	text-align:center;
	font-size:12px;
	font-family:serif;
	margin: 2em 0 0 0;
}
.dellist {
	font-weight: bold;
	text-align:center;
}
.delbuttons {
	text-align:center;
	padding-bottom:4px;
}
.managehead {
	background:#DDDDDD;
	color:#002244;
	padding:0px;
}
.postlists {
	background:#FFFFFF;
	width:100%;
	padding:0px;
	color:#800000;
}
.row1 {
	background:#DDDDDD;
	color:#002244;
}
.row2 {
	background:#CCCCCC;
	color:#002244;
}
.unkfunc {
	background:inherit;
	color: #26AF4C;
}
.unkfunc2 {
	background:inherit;
	color:#18a952;
}
.reflink {
	font-size: .8em;
	font-weight: bold;
	padding-right: 6px;
	/* color: #fff; */
}
.filesize {
	text-decoration:none;
	color: #666666;
	font-size: .8em;
}
.filetitle {
	background:inherit;
	font-size:1.2em;
	color:#3F5264;
	font-weight:bold;
}
.postername, .postnumber_green  {
	color:#004A99;
	font-weight:bold;
}
.postertrip {
	color:#FF3300;
}
.oldpost {
	color:#CC1105;
	font-weight:bold;
}
.omittedposts, .omittedposts a, .xlink {
	color:#666666 !important;
}
.reply, .highlight {
	background: #F8F8F8;
	padding: 0;
	padding-right: 2px;
	border-radius: 0px;
	border: 1px #CCC solid;
}
blockquote {
	margin: .5em .5em .5em 1em;
}
blockquote p {
	margin: 0;
	padding: 0;
}
.reply blockquote {
	margin: .5em;
}
.doubledash {
	display: none;
 	vertical-align:top;
	clear:both;
	float:left;
}
.replytitle {
	font-size: 1.2em;
	color:#002244;
	font-weight:bold;
}
.commentpostername {
	color:#004A99;
	font-weight:800;
}
.thumbnailmsg {
	font-size: .8em;
	color:#666666;
}
hr {
	border-style: solid none none none;
	border-width: 1px;
	border-color: #BBBBBB;
}
table {
	border-style: none;
}
.bottom-center, .bottom-left, .bottom-right {
	height: 0px;
}
table td {
	border-style: none;
}
.nothumb {
	background-color: #FFFFFF;
	border-style: dotted;
	margin: .3em .5em;
}

.abbrev {
	color:#666666;
}
.highlight {
	border: 1px dashed #EE6600;
}

#watchedthreads {
	background-color: #DDDDDD !important;
  	border: 1px solid #CCCCCC !important;
  	border-radius: 5px;
}

.spritebtn {
	background-image: url('icons/black.gif');
	opacity: 0.3;
}
.spritebtn:hover {
	opacity: 1;
}

.topbar-left {
	height: 0px;
}

.topbar-right {
	height: 0px;
}

.topbar-center {
	height: 0;
	/* background: rgba(0, 0, 0, 0.06); */
}

.maintable {
	width: 100%;
	table-layout: fixed;
}
#overlay_menu {
	-webkit-transition: box-shadow 0.2s, background-color 0.2s;
	transition: box-shadow 0.2s, background-color 0.2s;
	-o-transition: box-shadow 0.2s, background-color 0.2s;
	-moz-transition: box-shadow 0.2s, background-color 0.2s;
	box-shadow: none;
}

#overlay_menu:hover {
	box-shadow: 0 0 20px #ccc;
	background: rgb(247, 247, 247);
}

.replies table {
	border-spacing: 2px 4px;
}

.menu-item {
	margin: 0 -3px 0 -3px;
	padding: 2px 5px;
	border-radius: 0px;
}

.menu-item:last-child {
	margin-bottom: -3px;
}

.menu-item:hover {
	background: rgba(97, 138, 182, 0.07);
}

.maintable hr {
	margin-left: -9px;
margin-right: -9px;
}

.reflinkpreview {
	border: 1px #CCC solid;
	border-radius: none;
	-webkit-box-shadow: 0 0 20px #ccc;
	-moz-box-shadow: 0 0 20px #ccc;
	box-shadow: 0 0 20px #ccc;
	border-radius: 0;
}

input[type="text"], textarea {
	border: 1px solid rgb(180, 180, 180);
}

#imagefile {
	border: 0px;
}

.reflinkpreview .reply {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	/*margin: 0px;*/
	border: none;
}

.prettyprint {
	overflow: auto;
	max-height: 500px;
}

.prettyprint-container {
	/*display: inline-block; */
    margin-left: 2px;
    margin-bottom: 4px;
    margin-top: 4px;
}

.omittedposts a, .xlink {
	text-decoration: inherit;
	border-bottom: 1px dashed rgb(133, 133, 133);
}

.postnode label {
font-size: .9em;
color: rgb(109, 109, 109);
}

.reflink a, .reflink a:visited {
color: #696969;
text-decoration: none;
}
.reflink a:hover {
color: #000;
}
.uibutton {
	border-radius: 0;
	background: none;
	border-color: rgba(75, 129, 187, 0.42);
}
.uibutton:hover {
	/* color: red; */
	border-color: rgba(75, 129, 187, 0.67);
	background: rgba(234, 244, 255, 0.67);
	color: rgba(75, 129, 187, 1);
}

.reflinkpreview {
	background-color: #DDDDDD !important;
}