body {
  font-size:10pt !important;
  font-family:"Trebuchet MS",Trebuchet,serif;
	background: url(images/summer/bg_bottom.png) bottom repeat-x;
	background-color: #F6FFEC;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding: 0px !important;
}
a {
  background:inherit;
  color:#345C34;
  text-decoration:underline;
  font-family:"Trebuchet MS",Trebuchet,serif;
}
a:visited {
  background:inherit;
  color:#345C34;
}
a:hover {
  color:#117743;
  text-decoration:underline;
}
.adminbar {
  text-align:right;
  background:inherit;
  clear:both;
  float:right;
}
.logo {
  clear:both;
  text-align:center;
  background:inherit;
  font-size:24pt;
  color:#117743;
  width:100%;
}
.theader {
  background:#00E010;
  color:#FFFFFF;
  width:100%;
}
.postarea {
        background:inherit;
}
.rules {
  font-size:10px;
	font-family:sans-serif;
}
.postblock {
  background:#DDEEDD;
  color:#000000;
  font-weight:800;
}
.footer {
  text-align:center;
  font-size:10px;
  font-family:sans-serif;
}
.passvalid {
	background:#99EE88;
	text-align:center;
	width:100%;
	color:#ffffff;
}
.dellist {
	background:inherit;
	text-align:center;
}
.delbuttons {
	background:inherit;
	text-align:center;
	padding-bottom:4px;

}
.managehead {
	background:#0FE18F;
	color:#000000;
	font-family:sans-serif;
	font-size:14px;
	padding:0px;
}
.postlists {
	background:#FFFFFF;
	width:100%;
	padding:0px;
	color:#000000;
}
.row1 {
	background:#9AF6D2;
	font-family:sans-serif;
	font-size:12px;
	color:#000000;
}
.row2 {
  background:#FFFFFF;
  font-family:sans-serif;
  font-size:12px;
  color:#000000;
}
.unkfunc {
	color:#117743;
}
.unkfunc2 {
	color:#18a952;
}
.filesize {
	font-size:12px;
	font-family:sans-serif;
	text-decoration:underline;
	padding-left:3em;
}
.filetitle {
	background:inherit;
	font-size:18px;
	color:#0F5D0C;
	font-weight:800;
}
.postername, .postnumber_green  {
	background:inherit;
	color:#117743;
	font-weight:bold;
}
.postername a {
	font-family:inherit;
}
.oldpost {
  background:inherit;
  font-size:18px;
  color:#0F5D0C;
  font-weight:800;
}
.omittedposts {
  background:inherit;
  font-size:14px;
  color:#333333;
  font-weight:800;
}
.reply {
	background:#FAFFF4;
	color:#000000;
  font-family:"Trebuchet MS",Trebuchet,serif;
	border: solid 1px #669966;
	-moz-border-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	padding: 4px;
}
.postmessage {
  word-wrap: break-word;

}

.doubledash {
 	vertical-align:top;
	clear:both;
	float:left;
}
.replytitle {
  background:inherit;
  font-size:18px;
  color:#0F5D0C;
  font-weight:800;
}
.commentpostername {
  background:inherit;
  font-size:12px;
  color:#117743;
  font-weight:800;
}
.thumbnailmsg {
	background:inherit;
	font-size:9px;
	color:#000000;
}

.highlight {
	background: #dcfd8a;
	border: 2px dashed #117743;
	-moz-border-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
}

#watchedthreads {
	background-color: #DAF0D6 !important;
  	border: 1px solid #88DD88 !important;
}

.replymode {
	background:#DAF0D6;
	text-align:center;
	padding:2px;
	color:#000000;
	width:100%;
	font-weight: bold;
}
.catalogmode {
	background:#DAF0D6;
	text-align:center;
	padding:2px;
	color:#000000;
	width:100%;
	font-weight: bold;
	border: solid 1px #669966;
	-moz-border-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
}

.spritebtn {
	background-color: #117743;
	border-color: #117743;
}
.spritebtn:hover {
	background-color: #40B46E;
	border-color: #40B46E;
}

.topbar-left {
	background: url('images/summer/topbar-left.png');
}

.topbar-center {
  background: url('images/summer/topbar-center.png');
}

.topbar-right {
  background: url('images/summer/topbar-right.png');
}

.border-left {
  background: url('images/summer/border-left.png');
}

.border-right {
  background: url('images/summer/border-right.png');
}

.bottom-left {
  background: url('images/summer/bottom-left.png');
}

.bottom-right {
  background: url('images/summer/bottom-right.png');
}

.bottom-center {
  background: url('images/summer/bottom-center.png');
}

.content-background {
	background-color: #FEFFF9;
}

.maintable {
  width: 98%;
  table-layout: fixed;
}

.reflinkpreview {
	background-color: #DAF0D6 !important;
}