html, body{
background-color:#F7F7F7;
color:#333333;
font-family:"Trebuchet MS",serif;
}
.overlay-menu {
background:#F7F7F7;
}

a{
color:#F60;
}
a:hover{
color:#b34700;
}

.adminbar {
	clear:both;
	float:right;
	font-size: .8em;
}
.adminbar a {
	font-weight: bold;
}

.logo img{
border:1px solid #34345C;
}
.rules {
font-size: 0.7em;
}

.blot {
color: #f60 !important;
}

.logo {
	clear:both;
	text-align:center;
	font-size:2em;
	font-weight: bold;
	color:#FF6600;
	/*width:100%;*/
}

.replymode{
background:#E04000;
text-align:center;
padding:2px;
color:#FFFFFF;
width:100%;
}
.postarea{
background:inherit;
}
.postblock{
background:#919191;
border:1px solid #000000;
color:black;
font-weight:bold;
padding:2px 5px 2px 5px;
}
.footer {
	text-align:center;
	font-size:12px;
	font-family:serif;
	margin: 2em 0 0 0;
}

.unkfunc{
color:#789922;
}
.unkfunc2 {
color:#18a952;
}
.filesize{
text-decoration:none;
font-size: 0.8em;
}
.filetitle{
background:inherit;
color:#0F0C5D;
font-weight:800;
}
.postername, .postnumber_green {
color:#117743;
font-weight:700;
}
.postertrip{
color:#ff0000;
}

.thumbnailmsg {
	font-size: .8em;
	color:#666;
}

.oldpost{
background:inherit;
color:#404040;
font-weight:800;
}
.omittedposts{
background:inherit;
color:#070707;
}
.reply{
background-color:#dedede;
border:1px solid #999;
margin:5px;
padding:5px 10px;
}
.replyhl{
background:#BFBFBF;
color:#000000;
}
.doubledash{
display:none;
}
.replytitle{
background:inherit;
font-size:18px;
color:#FFFFFF;
font-weight:800;
}
.commentpostername{
background:inherit;
font-size:11pt;
color:#737373;
font-weight:bold;
}

hr{
border:none;
border-top:1px solid #BBB;
}
.highlight{
background:#fee9cc;
color:#333;
border:1px dashed #fbb450;
}

#options {
font-size: 13px;margin:0 auto;
z-index: 99999;
right: 10px;
top: 50px;
position: fixed;
padding: 10px;
text-align: left;
background:#DEDEDE;
border: solid 1px #CCCCCC;
}

.userdelete{
margin-bottom:10px;
}

h2{
font-size:16px;
}

.reflinkpreview {
	background-color: #DDDDDD !important;
	border-collapse: separate;
	border-spacing: 2px;
	border-color: gray;
}

table {
	border-style: none;
}
table td {
	border-style: none;
}

a[href$=sage]:before, a[href$=Sage]:before, a[href$=SAGE]:before {
content: "[sage] "!important;
}

a[href$=sage], a[href$=Sage], a[href$=SAGE] {
color: #CC1212!important;
}

a:hover[href$=sage], a:hover[href$=Sage], a:hover[href$=SAGE] {
color: #ff0000!important;
}

.abbrev {
	color:#666;
}

.omittedposts {
	color:#666;
}